<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Supplier Table" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Supplier ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let supplier">{{ supplier.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let supplier">{{ supplier.name }}</td>
          </ng-container>

          <!-- Contact Number Column -->
          <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef>Contact</th>
            <td mat-cell *matCellDef="let supplier">{{ supplier.contactNumber }}</td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let supplier">{{ supplier.address }}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let supplier">
              <button type="button" class="btn btn-primary btn-sm" (click)="onEditClick(supplier)">
                <i class="feather icon-edit"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClick(supplier.id)">
                <i class="feather icon-trash"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </app-card>
  </div>
</div>
