<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Basic Component" [options]="false">
        <div class="row">
          <div class="col-md-6">
            <!-- Bind form to Angular FormGroup -->
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" />
                <small *ngIf="categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched" class="text-danger">
                  Name is required.
                </small>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" />
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  