<!-- <span
  class="d-flex flex-column align-items-center mb-4 mb-md-8 mb-8 d-flex flex-column flex-md-row"
>
  <div class="mb-4 mb-md-0 w-100 w-md-25">
    <app-page-heading title="My Page Title" className="my-3"></app-page-heading>
  </div>
</span> -->

<!-- <c-card class="mb-4">
  <c-card-header> Products </c-card-header>
  <c-card-body>
    <app-page-heading title="My Page Title" className="my-3"></app-page-heading>
  </c-card-body>
</c-card> -->

<div class="card">
  <table cTable>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate over products using *ngFor -->
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
